* text=auto

*.blade.php linguist-language=Blade
*.blade.php diff=php
*.css linguist-language=CSS
*.html linguist-language=HTML
*.php linguist-language=PHP
*.json linguist-language=ignore
*.md linguist-language=ignore
*.lock linguist-language=ignore

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
