* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.scss diff=css

*.blade.php linguist-language=Blade
*.scss linguist-language=SCSS
*.json linguist-language=ignore
*.md linguist-language=ignore
*.lock linguist-language=ignore

#Ignore everything not written be me, mostly, to have more accurate stats
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Treat prebuilt Laravel files and folders as vendored
/vendor/* linguist-vendored
/node_modules/* linguist-vendored
/public/storage/* linguist-vendored
/storage/*.key linguist-vendored
/.env linguist-vendored
/.env.* linguist-vendored
/.phpunit.result.cache linguist-vendored
/.vscode/ linguist-vendored
/.idea/ linguist-vendored
/.github/ linguist-vendored
/tests/ linguist-vendored

# Treat Laravel kernel files as vendored
/app/Console/Kernel.php linguist-vendored
/app/Exceptions/Kernel.php linguist-vendored

# Treat generated application cache files as vendored
/bootstrap/cache/* linguist-vendored

# Treat configuration files as vendored
/config/* linguist-vendored

# Treat Laravel middleware files as vendored
/app/Http/Middleware/* linguist-vendored

# Treat Laravel service provider files as vendored
/app/Providers/* linguist-vendored
