@use 'variables' as *;

.navItem {
    @apply flex text-center items-center font-bold text-white;
    color: $text-color;
    height: 40px;
    padding: 0 35px;
    margin: 5px;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}
.navItem:hover {
    background: $orange-color;
}
.navPanel {
    @apply flex justify-start flex-1 items-center;
    background: $background-color;
}
#title {
    @apply flex font-bold text-center items-center;
    margin-left: 16px;
    margin-right: 40px;
    font-size: 30px;
}
.verticalLine {
    @apply h-full;
    background-color: $gray-light-color;
    width: 1px;
}
#content {
    display: flex;
    flex: 1;
    overflow: hidden;
}
#sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-left: 1px solid $gray-light-color;
    padding-top: 30px;
}
#calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 316px;
}
#monthSelect {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#days {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
    background: $orange-light-color;
    border-radius: 15px;
}
.day{
    font-weight: 700;
    text-align: center;
    color: $text-color;
}
.week > .dayWrapperNormal:hover{
    background-color: $orange-light-color;
    transition: background-color 0.3s ease-out;
    border-radius: 9999px;
}
.week > .dayWrapper{
    height: 30px;
}
.dayWrapper{
    width: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
}
.dayWrapperCurrent{
    background-color: $gray-light-color;
    border-radius: 9999px;
}
#weeks {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.week {
    width: fit-content;
    display: flex;
    gap: 15px;
    margin: 0 10px;
}
#mainContent {
    flex: 1;
    height: fit-content;
    padding-top: 30px;
    overflow-y: auto;
}
#foodList {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 65px;
    max-height: calc(100vh - 50px - 30px - 32px - 65px);
    overflow-y: auto;
}
.food {
    display: flex;
    width: 100%;
}
.food > .left-side {
    flex: 1;
}
.food > .right-side {
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 10px;
}
.main-text {
    font-weight: 600;
    font-size: 21px;
    color: $text-color;
}
.side-text {
    color: $side-text-color;
}
.foodItem {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.foodButtons {
    @apply border-gray-300;
    border-right-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    width: 160px;
}
.manualChoice {
    transition: background-color 0.3s ease;
    background-color: #00ba00;
    width: 70px;
    height: 30px;
    border-radius: 40px;
}
.manualChoice:hover {
    background-color: #2eff2e;
}
.deleteChoice {
    transition: background-color 0.3s ease;
    background-color: $orange-color;
    width: 70px;
    height: 30px;
    border-radius: 40px;
}
.deleteChoice:hover {
    background-color: $orange-light-color;
}
#sideButtons {
    @apply flex flex-col align-bottom w-full flex-1;
    gap: 10px;
    justify-content: flex-end;
    align-items: stretch;
    margin-bottom: 30px;
}
#generateButton {
    transition: background-color 0.3s ease;
    background-color: #00ba00;
    margin: 0 30px;
    height: 45px;
    border-radius: 40px;
}
#exportButton {
    transition: background-color 0.3s ease;
    background-color: $orange-color;
    margin: 0 30px;
    height: 45px;
    border-radius: 40px;
}
