#loginBox {
    @apply bg-white p-12;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}
.loginInput {
    @apply
    w-full
    bg-blue-100
    outline outline-1
    outline-black
    focus:outline-purple-500
    rounded
    my-1
    px-1;
}
.icon-container {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    right: 3px;
    width: 24px;
    top: 50%;
    transform: translateY(-50%);
}
